*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html
{
    width: 100%;
    height: 100%;
}
body
{
    width:100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(231, 230, 230);
}
.continer
{
    background-color: white;
    width: 70vw;
    height: 70%;
    box-shadow: 4px 4px 5px rgb(105, 105, 105) , -4px -4px 5px rgb(133, 132, 132),
    inset 4px 4px 5px rgb(97, 97, 97) , inset -4px -4px 5px silver;
    margin-left: 15%;
    margin-top:-15%;
    border-radius: 20px;
}
#f_img
{
    width: 15%;
    rotate: -5deg;
}
#s_img
{
    width: 15%;
    rotate: -5deg;
    margin-top: -20%;
    margin-left: 80%;
}
#qus
{
    font-size: 2rem;
    margin-top: 2vw;
    padding-top: 3vw;
    margin-left: 14vw;
    margin-bottom: .5vw;
    text-align: center;
    margin-right: 11vw;
}
.btn-answer
{
    background-color: transparent;
    outline: none;
    padding: 1.5vw 2vw;
    border: 1px solid purple;
    border-radius: 20px;
    transition: all 1.5s;
    cursor: pointer;
}
.btn-answer:hover
{
    background-color: purple;
    box-shadow: 0px 0px 10px 5px rgb(202, 7, 202);
}
.submit{
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0px 1px .5px rgb(105, 105, 105);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius:100px;
    transition: all 800ms;
    outline: none;
    padding: 1.5vw 2vw;
    cursor: pointer;
    position:relative;
    position: relative;
    top: -1vw;
    margin-left: 48%;
    font-size: 1rem;
}
.submit:hover
{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(56, 56, 56);
}
.circle
{
    margin-left: .5vw;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: purple;
    transition: all 2s;
}
#qus
{
    transition: all 2s;
}
#start-btn
{
    background-color: transparent;
    outline: none;
    padding: 1.5vw 2vw;
    border: 1px solid purple;
    border-radius: 20px;
    transition: all 1s;
    cursor: pointer;
    margin-left: -2.5%;
}
#start-btn:hover
{
    background-color: purple;
    box-shadow: 0px 0px 10px 5px rgb(202, 7, 202);
}